/*Шривт для всего наборного шрифта на всей странице, лекция 4, где то в начале, 
сайт: https://fonts.google.com/specimen/Robotohttps://fonts.google.com/specimen/Roboto , 
смотрим всё что нужно выбираем и добавляем html d html, а графу css в css, в (*) - в основном 
текст наборного шрифта, а в классы отдельные индивидумы  */
* {
    font-family: 'Roboto', sans-serif;
}

/* выравнивает всё по середине, на определённом растоянии*/
.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

/* на сылках убрать подчёркивания */
a {
    text-decoration: none;
}

/* списки (liшки) без точек и вообще оформление списков */
.undotted {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


  /* button */
.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #000000;
    display: flex;
    padding: 9px 22px;
    max-width: 160px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.button:disabled {
    background: #C7C1C1;
}




/* header */
.header {
    display: flex;
    align-items: center;
    padding: 50px 0 40px;
}

.header nav {
    margin: 0 auto 0 60px;
}

.header__nav {
    display: flex;
}

.header__link-1, 
.header__link-2 {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    text-transform: uppercase;
}

.header__link-1 {
    margin-right: 20px;
}

.header__link-2 {
    margin-left: 20px;
    font-weight: bold;
}













/* breadcrumb */
.breadcrumbs {
    padding: 15px 110px;
    background-color: #fff;
}

.breadcrumbs li {
    display: inline;
    font-size: 18px;
}

.breadcrumbs li {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #8f8383;
}

.breadcrumbs li a {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    text-decoration: none;
}









/* CONTACT */
.undotted {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hidden {
    font-size: 0;
    line-height: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input,
textarea {
    border: 1px solid #cccccc;
    background: transparent;
    font-size: 18px;
    line-height: 25px;  
    padding: 11px 20px;
    resize: none;
    width: 100%;
}

label {
    font-size: 14px;
    line-height: 19px;
    color: #1E0606;
    margin-bottom: 3px;
}

.input-color::placeholder {
    color: #1E0606;
}

.field_2-column {
    display: flex;
    justify-content: space-between;
}

.field_2-column .label-wrapper input {
    max-width: 200px;
}

.label-wrapper {
    display: flex;
    flex-direction: column;
}

input[type="checbox"] {
    display: none;
}

.checkbox__list {
    display: flex;
    margin: 20px 0;
}    

.checkbox-label {
    padding-left: 35px;
    margin-right: 20px;
    position: relative;
}

.checkbox-label:before {
    content: '';
    display: block;
    position: absolute;
    width: 19px;
    height: 19px;
    border: 2px solid #C29974;
    background: transparent;
}

