/* баннер */
.banner {
    background: #EEE4DB;
    z-index: 1;
    margin-top: 89px;
    height: 411px;
    display: flex;
    align-items: flex-start;
}

.banner__nav {
    padding-left: 31px;
    padding-top: 110px;
}
.banner__front {
    padding-left: 71px;
    padding-top: 89px;
    z-index: 2;
}

.banner_title {
    font-family: 'Montserrat', sans-serif;
}

.banner_text {
    font-family: 'Crimson Pro', serif;
}

.banner img {
    align-self: flex-end;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 100px;
    z-index: 3;
}

.banner__nav {
    border: none;
    background: none;
}

.banner__info {
    font-family: 'Open Sans', sans-serif;
    align-self: flex-end;
    justify-content: center;
    background: #c29974;
    height: 39px;
    left: 110px;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 11px 0 11px;
    z-index: 4;
}

/* категории продуктов */

.categories__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin: 90px 0 30px;
}

.categories__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.categories__nav li{
    font-family: 'Montserrat', sans-serif;
    height: 280px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories__nav a{
    padding: 15%;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.categories__item1 {
    background: url('../images/index/category/catrgory1.png') center no-repeat #DBE4DB;
}

.categories__item2 {
    background: url('../images/index/category/catrgory2.png') center no-repeat #EADDD3;
}

.categories__item3 {
    background: url('../images/index/category/catrgory3.png') center no-repeat #F8F2DA;
}

.categories__item4 {
    background: url('../images/index/category/catrgory4.png') center no-repeat #D5D4E1;
}

.categories__button {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 90px;
}

.categories_button1 {
    margin-right: 6px;
}

.categories_text {
    font-family: 'Open Sans', sans-serif;
    margin-left: 14px;
}

/* История */
.history {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 90px;
}

.history__text {
    font-family: 'Open Sans', sans-serif;
    margin-left: 120px;
}

.history_h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    margin-top: 30px;
    margin-bottom: 17px;
}

.histore_brief p,
.histore_brief1 p {
    font-family: 'Crimson Pro', serif;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
    margin-bottom: 22px;
}

.histore_brief1 p{
    font-weight: bold
}

.histore_text1,
.histore_text2 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    
}

.histore_text1 {
    margin-top: 30px;
    padding: 0 21% 0 0;
}

.histore_text2 {
    margin-top: 15px;
    margin-bottom: 26px;
    padding: 0 135px 0 0;
}

/* компании */
.company_li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 91px;
}

/* информация */
.information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 242px;
}